.sidebar {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: var(--navigation);
}

.sidebar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  height: 50px;
  padding-left: 20px;

  color: var(--white-text);
  border-bottom: 1px solid var(--divider);
}

.sidebar__logo {
  font-size: 26px;
}

.sidebar__title {
  font-weight: 600;
  color: var(--white-text);
}

.sidebar__subtitle {
  color: var(--navigation-subtitle);
}

.sidebar__section:hover {
  transition: background-color 0.5s ease;
  background-color: var(--navigation-hover);
}
