.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--navigation);
}

.sidebar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: var(--core-padding);

  color: var(--white-text);
}

.sidebar > div:last-child {
  border-bottom: 1px solid var(--divider);
}

.sidebar__logo {
  font-size: var(--header-text-size);
  height: var(--header-height);
}

.sidebar__title {
  font-weight: 600;
  color: var(--white-text);
}

.sidebar__subtitle {
  color: var(--navigation-subtitle);
}

.sidebar__section {
  height: var(--header-height);
  border-top: 1px solid var(--divider);
}

.sidebar__section:hover {
  transition: background-color 0.5s ease;
  background-color: var(--navigation-hover);
}

.sidebar__subSection {
  height: var(--submenu-height);
  background-color: #3a4d63;
  border: none;
}

.sidebar__subSection:hover {
  transition: background-color 0.5s ease;
  background-color: var(--navigation-hover);
}

.sidebar__active {
  background-color: var(--navigation-hover);
}
