body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  letter-spacing: -0.35px;
  overflow-y: scroll;
}

:root {
  --navigation: #2f4358;
  --navigation-hover: #546a83;
  --navigation-subtitle: #1abc9c;
  --content-background: #eff2f5;
  --header-background: #ffffff;
  --heading-text: #2f4358;
  --white-text: #ffffff;
  --divider: #1e2c3a;
}

.core-grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
}
